**Please describe here *briefly* **


1) Your business problem to solve:

Brand creation and growth present unique challenges in the age of the Internet. On the one hand, the Internet provides a multitude of opportunities for content distribution and access to global audiences. On the other, the speed, low cost of distribution, and finite attention span of any individual potential consumer of digital content present new, unique challenges for new artists who seek to find an audience for their work through digital media.

For emerging artists without commercial support, there exists a challenge of how to build their brand, manage their online presence, and identify important target audiences and   trends in a cost-effective way. Even though digital distribution and rating platforms can       efficiently distribute content, these systems do not necessarily provide guidance for how a new artist can attract attention on them.

Artists supported by business interests benefit from extensive support, including brand management teams comprised of image consultants, digital content advisors, and artistic mentors. In order to compete with more established artists supported by these resources, new artists need to find ways to cost-effectively build their personal brand, manage their online presence, and stay on top of important cultural trends. Emerging artists could therefore benefit from a targeted data science service that reports information on regional markets and cultural trends related to their area of focus.

For this case study, we have developed such a data science product that analyzes SoundCloud data to generate cost-effective business intelligence.

2) Why the problem is important to solve?

Using our data analysis product, musicians can target audiences and define themselves in the context of the most important and current trends in the music industry. This idea certainly deserves investment. We provide business intelligence for emerging artists at a much lower cost than a conventional brand management team. Independent artists are important and unique voices. Each artist offers a unique perspective and creative vision. In order for each artist to have the best chance of success, they need insightful support. We propose to sell a product that provides that support as a competitive price point and with opportunities for build-out advertising and online sales services.

3) What is your idea to solve the problem?

For this case study, we have developed such a data science product that analyzes SoundCloud data to generate cost-effective business intelligence. The information available from our service can be used to identify distribution targets, refine branding, and enhance marketing of new music. We propose to provide a subscription service offering a country-wide interactive summary of popular music genres by city location, together with a summaries of genre-specific user-generated meta-data identifying evolving terminologies and cultural themes.

4) What differences you could make with your data science approach?

The difference between our data science approach and other music exchange and listening platforms currently available on the internet is that the focus of our site is on providing information that allows artists to identify regional genre preferences as the same time that we present user-generated tag meta-data. What tags are generated by music fans of the same genre in different cities? Are tags highlighting new cross-genre collaborations? Are tag themes similar across genres? These types of questions can be explored easily and intuitively using our visualization platform.

5) Why do you believe the idea deserves the investment of the "sharks"?

In the United States, the music industry generated 3.9 billion dollars in 2016 alone, according to numbers reported by the Recording Industry Association of America (RIAA). Streaming services accounted for greater than 50 percent  of this revenue. There exists an enornmous market for digital music consumption – these practices both generate large volumes of consumer data for ongoing analysis and highlight the tremendous opportunities for artists who can create and grow a digital presence. We request from the sharks funding to support 6 months of salary for five full-time    extremely talented data scientists and web site fees 400,000 dollars.

### Problem 2: The Math Part (20 points)

Define the business problem as a math problem and design a math solution to the problem.

**Insert your answers here**

1) Problem formulations in Math:  

A chi-squared goodness of fit statistical test was run on the top genre in each city of our dataset. We wanted to test if our genre samples from SoundCloud were representative of the true music preferences within those cities. Since the true distributions are difficult to obtain, we assume that the genres are equally popular in each major city, but with more data from different sources, the expected distributions will become more accurate. The observed frequencies of the chi-squared test were how many times a city's top genre appeared and the city's total number of favorited tracks; the expected frequencies were 1 and the number of genres appearing in that city, converted to probabilities summing to 1.

Another statistic we used was the Term frequency–inverse document frequency (TF-IDF), which calculates the importance of a term within a lexicon and its weight value. This helped us identify common and eye-catching language within the genre and location fields.

2) Math Solutions:

As we expected due to the lack of data, our p-values for the chi-squared goodness of fit tests were close to 0, meaning that the observed and expected frequencies are not from the same distribution. In other words, our top genre is not a good representation of the actual top genre in each city. However, gathering better population data, possibly from web scraping other location-based music sales or streaming datasets, would yield better results in future work.

Zipf's Law was implemented to identify appropriate ranks for the top tags.

3) Implementation of the Solutions:
Our team used the scipy library.

In [1]:
###CASE STUDY 4####
import sys
import pandas as pd
import json
import pymongo
from pymongo import MongoClient
import numpy as np

loc="C:/WPI/DS501/CaseStudy/CaseStudy4/"
file=loc+'soundcloud.csv'
df = pd.read_csv(file)
df.head()

,city,genres_list,tags_list,user_id
0,Maryland,"['Hip-hop & Rap', 'Hip-hop & Rap', 'Hip-hop & ...","['""Eyes Closed"" ""Johnny Yukon"" Gizzle Invincib...",76718083.0
1,miami,['Latin'],['Bachata Vallenato BachatadeAcordeon Colombia...,53551113.0
2,brooklyn,[],[],260489226.0
3,Winston Salem,"['Rock', 'Classical', 'Classical', 'Classical'...","['sunfold ""kenny florence""', 'Classical ""Derek...",85065739.0
4,united states,['Pop'],"['""Dance Pop""', 'soundcloud:source=web-record ...",105357326.0

In [ ]:



from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import load_files
from sklearn.model_selection import train_test_split
from sklearn import metrics


chicago = ['Chicago','Chicago IL and Anaheim Ca','CHICAGO IL, The Almighty WestSide','Chicago Illinois','Chicago, Illinois','Chicago/Albuquerque/Stuttgart','Chicagoland']
miami = ['Fort Lauderdale / Miami Beach area in Florida','miami','MIAMI','Miami Beach','Miami Beach - Florida','Miami Beach / Los Angeles /','Miami,Fl']
houston = ['Houston','Houston, Texas','Houston ','HOUSTON TEXAS','Houston Tx','houston,texas,united states','Houston`','PORT ARTHUR/HOUSTON/LOS ANGELES/DALLAS/HAMPTON VA.']
denver= ['Denver','Denver, CO','Denver','Denver, Colorado']
nashville= ['Nashville','Nashville','NASHVILLE, TENNESSEE','Nashville, TN']
DC=['Washington DC','Washington, D.C.','Washington D.C.','Washington, DC','Washington D. C.','Washington, D.C','washington,d.c']
boston = ['Boston','Boston, Texas','Boston MA ,United states','Boston, Massachusetts - Austin, Texas','Boston, Massachusetts ','BOSTON','Boston, Massachusetts']
la= ['Los Angeles, CA','Los Angeles','L.A','Los Angeles Area','Los Angeles, California','Los Angeles // Santa Barbara','los angeles','Los Angeles, California','LOS ANGELES','LosAngeles','Los Angeles, CA + Phoenix, AZ']
nyc = ['New York','New York City','NYC','new york city','New York & Philadelphia','New York, NY','NEW YORK','New York/ L.A.','NY']
new_orl = ['New Orleans','New Orleans, Louisiana','The World via New Orleans']
pheon = ['Phoenix','Los Angeles, CA + Phoenix, AZ','Phoenix, AZ']


#####################################################################
#EXPORT JSON FILE
#invar=variable containing data to be converted to json
#filename=file name for the json data to be save to
##################  START   ############################################
def json_export(invar,filename):
    data=invar.reset_index().to_json(orient='records')
    file = open(filename,'w')
    file.write(data)
    file.close()
    return(data)
###################  END  ##################################################
    
    
#####################################################################
#Extract info from raw file
##################  START   ############################################    

def explode(df, lst_cols, fill_value=''):
    # make sure `lst_cols` is a list
    if lst_cols and not isinstance(lst_cols, list):
        lst_cols = [lst_cols]
    # all columns except `lst_cols`
    idx_cols = df.columns.difference(lst_cols)

    # calculate lengths of lists
    lens = df[lst_cols[0]].str.len()

    if (lens > 0).all():
        # ALL lists in cells aren't empty
        return pd.DataFrame({
            col:np.repeat(df[col].values, df[lst_cols[0]].str.len())
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .loc[:, df.columns]
    else:
        # at least one list in cells is empty
        return pd.DataFrame({
            col:np.repeat(df[col].values, df[lst_cols[0]].str.len())
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .append(df.loc[lens==0, idx_cols]).fillna(fill_value) \
          .loc[:, df.columns]
          

    
    
def vector(doc,val_max_feature,val_min_df,val_max_df,val_ngram_range):
    vectorizor=TfidfVectorizer(doc,max_features=val_max_feature,
                           min_df=val_min_df,max_df=val_max_df,
                           stop_words='english',
                           ngram_range=val_ngram_range)

    tfid_result=vectorizor.fit_transform(doc)
    top_tags=display_scores(vectorizor,tfid_result)
    
    return(top_tags)


def display_scores(vectorizer, tfidf_result):
    # http://stackoverflow.com/questions/16078015/
    scores = zip(vectorizer.get_feature_names(),
                 np.asarray(tfidf_result.sum(axis=0)).ravel())
    sorted_scores = sorted(scores, key=lambda x: x[1], reverse=True)
   # end=len(sorted_scores)
    out_list = []
    for item in sorted_scores[:10]:
        out_list.append(item[0])
    return(out_list)
            
################################################################################################
#City1
################################################################################################


la_cities = chicago*1
df_la = df.loc[df['city'].isin(la_cities)]
df_la.loc[df_la['city'].isin(la_cities), 'city'] = 'Los Angeles'
df_la.head()
df_la['city'].value_counts()

       
df_la =explode(df_la.assign(var1=df_la.genres_list.str.split(',')), 'var1')
df_la_csv = explode(df_la.assign(var2 = df_la.tags_list.str.split(',')),'var2')
df_la[1:5]


df_city=df_la_csv*1
del df_city['genres_list']
del df_city['tags_list']
del df_city['city']
df_city=df_city.rename(columns={'var1':'genre','var2':'tag'})
df_city["genre"] = df_city["genre"].str.replace("[", "")
df_city["genre"] = df_city["genre"].str.replace("]", "")
df_city["genre"] = df_city["genre"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace("[", "")
df_city["tag"] = df_city["tag"].str.replace("]", "")
df_city["tag"] = df_city["tag"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace('"', "")
df_city["genre"]=df_city["genre"].str.lower()
df_city["tag"]=df_city["tag"].str.lower()

df_city[1:5]

#uniques = df_city['genre'].unique()
#print(uniques)


genres_pivot = df_city.pivot_table('tag',index='genre',aggfunc='count')
genres_pivot =  genres_pivot.sort_values('tag', ascending= False)

  
top_genres = genres_pivot[0:5]
genre_cnt=top_genres.ix[0,0]
genre_cnt


top_genres_list =top_genres.index.tolist() # list of straight up movie_id of the worst movies

genre=top_genres_list[0]
genre


#######################################################################################
#CREATE TOP TAGS
tags_top_genre=df_city.query('genre in @top_genres_list')

doc = tags_top_genre['tag'].tolist()

val_max_feature=200
val_min_df=1
val_max_df=0.98
val_ngram_range=(1,3)

top_tags=vector(doc,val_max_feature,val_min_df,val_max_df,val_ngram_range)
top_tags
#######################################################################################

city_to_add = pd.Series()
city_to_add['code'] = 'IL'
city_to_add['state'] = 'Illinois'
city_to_add['category'] = 'state'
city_to_add['ranking_value'] = genre_cnt
city_to_add['City'] = "Chicago"
city_to_add['Top Genre'] = genre
city_to_add['Tags'] = top_tags 



#code-state=two letters, state=state writte, city=city, category=genre, ranking_value 
COLUMN_TITLES = ['code','state', 'category', 'ranking_value','City','Top Genre', 'Tags']
final_df=pd.DataFrame(columns = COLUMN_TITLES)
final_df=final_df.append(city_to_add, ignore_index = True)

final_df

################################################################################################
#City2
################################################################################################


la_cities = boston*1
df_la = df.loc[df['city'].isin(la_cities)]
df_la.loc[df_la['city'].isin(la_cities), 'city'] = 'Los Angeles'
df_la.head()
df_la['city'].value_counts()

       
df_la =explode(df_la.assign(var1=df_la.genres_list.str.split(',')), 'var1')
df_la_csv = explode(df_la.assign(var2 = df_la.tags_list.str.split(',')),'var2')
df_la[1:5]


df_city=df_la_csv*1
del df_city['genres_list']
del df_city['tags_list']
del df_city['city']
df_city=df_city.rename(columns={'var1':'genre','var2':'tag'})
df_city["genre"] = df_city["genre"].str.replace("[", "")
df_city["genre"] = df_city["genre"].str.replace("]", "")
df_city["genre"] = df_city["genre"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace("[", "")
df_city["tag"] = df_city["tag"].str.replace("]", "")
df_city["tag"] = df_city["tag"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace('"', "")
df_city["genre"]=df_city["genre"].str.lower()
df_city["tag"]=df_city["tag"].str.lower()

df_city[1:5]

#uniques = df_city['genre'].unique()
#print(uniques)


genres_pivot = df_city.pivot_table('tag',index='genre',aggfunc='count')
genres_pivot =  genres_pivot.sort_values('tag', ascending= False)

  
top_genres = genres_pivot[0:5]
genre_cnt=top_genres.ix[0,0]
genre_cnt


top_genres_list =top_genres.index.tolist() # list of straight up movie_id of the worst movies

genre=top_genres_list[0]
genre


#######################################################################################
#CREATE TOP TAGS
tags_top_genre=df_city.query('genre in @top_genres_list')

doc = tags_top_genre['tag'].tolist()

val_max_feature=200
val_min_df=1
val_max_df=0.98
val_ngram_range=(1,3)

top_tags=vector(doc,val_max_feature,val_min_df,val_max_df,val_ngram_range)
top_tags
#######################################################################################

city_to_add = pd.Series()
city_to_add['code'] = 'MA'
city_to_add['state'] = 'Massachussetts'
city_to_add['category'] = 'state'
city_to_add['ranking_value'] = genre_cnt
city_to_add['City'] = "Boston"
city_to_add['Top Genre'] = genre
city_to_add['Tags'] = top_tags 


top_tags

final_df=final_df.append(city_to_add, ignore_index = True)

final_df


################################################################################################
#City3
################################################################################################


la_cities = miami*1
df_la = df.loc[df['city'].isin(la_cities)]
df_la.loc[df_la['city'].isin(la_cities), 'city'] = 'Los Angeles'
df_la.head()
df_la['city'].value_counts()

       
df_la =explode(df_la.assign(var1=df_la.genres_list.str.split(',')), 'var1')
df_la_csv = explode(df_la.assign(var2 = df_la.tags_list.str.split(',')),'var2')
df_la[1:5]


df_city=df_la_csv*1
del df_city['genres_list']
del df_city['tags_list']
del df_city['city']
df_city=df_city.rename(columns={'var1':'genre','var2':'tag'})
df_city["genre"] = df_city["genre"].str.replace("[", "")
df_city["genre"] = df_city["genre"].str.replace("]", "")
df_city["genre"] = df_city["genre"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace("[", "")
df_city["tag"] = df_city["tag"].str.replace("]", "")
df_city["tag"] = df_city["tag"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace('"', "")
df_city["genre"]=df_city["genre"].str.lower()
df_city["tag"]=df_city["tag"].str.lower()

df_city[1:5]

#uniques = df_city['genre'].unique()
#print(uniques)


genres_pivot = df_city.pivot_table('tag',index='genre',aggfunc='count')
genres_pivot =  genres_pivot.sort_values('tag', ascending= False)

  
top_genres = genres_pivot[0:5]
genre_cnt=top_genres.ix[0,0]
genre_cnt


top_genres_list =top_genres.index.tolist() # list of straight up movie_id of the worst movies

genre=top_genres_list[0]
genre


#######################################################################################
#CREATE TOP TAGS
tags_top_genre=df_city.query('genre in @top_genres_list')

doc = tags_top_genre['tag'].tolist()

val_max_feature=200
val_min_df=1
val_max_df=0.98
val_ngram_range=(1,3)

top_tags=vector(doc,val_max_feature,val_min_df,val_max_df,val_ngram_range)
top_tags
#######################################################################################

city_to_add = pd.Series()
city_to_add['code'] = 'FL'
city_to_add['state'] = 'Florida'
city_to_add['category'] = 'state'
city_to_add['ranking_value'] = genre_cnt
city_to_add['City'] = "Miami"
city_to_add['Top Genre'] = genre
city_to_add['Tags'] = top_tags 




final_df=final_df.append(city_to_add, ignore_index = True)

final_df


################################################################################################
#City4
################################################################################################


la_cities = houston*1
df_la = df.loc[df['city'].isin(la_cities)]
df_la.loc[df_la['city'].isin(la_cities), 'city'] = 'Los Angeles'
df_la.head()
df_la['city'].value_counts()

       
df_la =explode(df_la.assign(var1=df_la.genres_list.str.split(',')), 'var1')
df_la_csv = explode(df_la.assign(var2 = df_la.tags_list.str.split(',')),'var2')
df_la[1:5]


df_city=df_la_csv*1
del df_city['genres_list']
del df_city['tags_list']
del df_city['city']
df_city=df_city.rename(columns={'var1':'genre','var2':'tag'})
df_city["genre"] = df_city["genre"].str.replace("[", "")
df_city["genre"] = df_city["genre"].str.replace("]", "")
df_city["genre"] = df_city["genre"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace("[", "")
df_city["tag"] = df_city["tag"].str.replace("]", "")
df_city["tag"] = df_city["tag"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace('"', "")
df_city["genre"]=df_city["genre"].str.lower()
df_city["tag"]=df_city["tag"].str.lower()

df_city[1:5]

#uniques = df_city['genre'].unique()
#print(uniques)


genres_pivot = df_city.pivot_table('tag',index='genre',aggfunc='count')
genres_pivot =  genres_pivot.sort_values('tag', ascending= False)

  
top_genres = genres_pivot[0:5]
genre_cnt=top_genres.ix[0,0]
genre_cnt


top_genres_list =top_genres.index.tolist() # list of straight up movie_id of the worst movies

genre=top_genres_list[0]
genre


#######################################################################################
#CREATE TOP TAGS
tags_top_genre=df_city.query('genre in @top_genres_list')

doc = tags_top_genre['tag'].tolist()

val_max_feature=200
val_min_df=1
val_max_df=0.98
val_ngram_range=(1,3)

top_tags=vector(doc,val_max_feature,val_min_df,val_max_df,val_ngram_range)
top_tags
#######################################################################################

city_to_add = pd.Series()
city_to_add['code'] = 'TX'
city_to_add['state'] = 'Texas'
city_to_add['category'] = 'state'
city_to_add['ranking_value'] = genre_cnt
city_to_add['City'] = "Houston"
city_to_add['Top Genre'] = genre
city_to_add['Tags'] = top_tags 




final_df=final_df.append(city_to_add, ignore_index = True)



################################################################################################
#City4
################################################################################################


la_cities = denver*1
df_la = df.loc[df['city'].isin(la_cities)]
df_la.loc[df_la['city'].isin(la_cities), 'city'] = 'Los Angeles'
df_la.head()
df_la['city'].value_counts()

       
df_la =explode(df_la.assign(var1=df_la.genres_list.str.split(',')), 'var1')
df_la_csv = explode(df_la.assign(var2 = df_la.tags_list.str.split(',')),'var2')
df_la[1:5]


df_city=df_la_csv*1
del df_city['genres_list']
del df_city['tags_list']
del df_city['city']
df_city=df_city.rename(columns={'var1':'genre','var2':'tag'})
df_city["genre"] = df_city["genre"].str.replace("[", "")
df_city["genre"] = df_city["genre"].str.replace("]", "")
df_city["genre"] = df_city["genre"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace("[", "")
df_city["tag"] = df_city["tag"].str.replace("]", "")
df_city["tag"] = df_city["tag"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace('"', "")
df_city["genre"]=df_city["genre"].str.lower()
df_city["tag"]=df_city["tag"].str.lower()

df_city[1:5]

#uniques = df_city['genre'].unique()
#print(uniques)


genres_pivot = df_city.pivot_table('tag',index='genre',aggfunc='count')
genres_pivot =  genres_pivot.sort_values('tag', ascending= False)

  
top_genres = genres_pivot[0:5]
genre_cnt=top_genres.ix[0,0]
genre_cnt


top_genres_list =top_genres.index.tolist() # list of straight up movie_id of the worst movies

genre=top_genres_list[0]
genre


#######################################################################################
#CREATE TOP TAGS
tags_top_genre=df_city.query('genre in @top_genres_list')

doc = tags_top_genre['tag'].tolist()

val_max_feature=200
val_min_df=1
val_max_df=0.98
val_ngram_range=(1,3)

top_tags=vector(doc,val_max_feature,val_min_df,val_max_df,val_ngram_range)
top_tags
#######################################################################################

city_to_add = pd.Series()
city_to_add['code'] = 'CO'
city_to_add['state'] = 'Colorado'
city_to_add['category'] = 'state'
city_to_add['ranking_value'] = genre_cnt
city_to_add['City'] = "Denver"
city_to_add['Top Genre'] = genre
city_to_add['Tags'] = top_tags 

final_df=final_df.append(city_to_add, ignore_index = True)



################################################################################################
#City4
################################################################################################


la_cities = nashville*1
df_la = df.loc[df['city'].isin(la_cities)]
df_la.loc[df_la['city'].isin(la_cities), 'city'] = 'Los Angeles'
df_la.head()
df_la['city'].value_counts()

       
df_la =explode(df_la.assign(var1=df_la.genres_list.str.split(',')), 'var1')
df_la_csv = explode(df_la.assign(var2 = df_la.tags_list.str.split(',')),'var2')
df_la[1:5]


df_city=df_la_csv*1
del df_city['genres_list']
del df_city['tags_list']
del df_city['city']
df_city=df_city.rename(columns={'var1':'genre','var2':'tag'})
df_city["genre"] = df_city["genre"].str.replace("[", "")
df_city["genre"] = df_city["genre"].str.replace("]", "")
df_city["genre"] = df_city["genre"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace("[", "")
df_city["tag"] = df_city["tag"].str.replace("]", "")
df_city["tag"] = df_city["tag"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace('"', "")
df_city["genre"]=df_city["genre"].str.lower()
df_city["tag"]=df_city["tag"].str.lower()

df_city[1:5]

#uniques = df_city['genre'].unique()
#print(uniques)


genres_pivot = df_city.pivot_table('tag',index='genre',aggfunc='count')
genres_pivot =  genres_pivot.sort_values('tag', ascending= False)

  
top_genres = genres_pivot[0:5]
genre_cnt=top_genres.ix[0,0]
genre_cnt


top_genres_list =top_genres.index.tolist() # list of straight up movie_id of the worst movies

genre=top_genres_list[0]
genre


#######################################################################################
#CREATE TOP TAGS
tags_top_genre=df_city.query('genre in @top_genres_list')

doc = tags_top_genre['tag'].tolist()

val_max_feature=200
val_min_df=1
val_max_df=0.98
val_ngram_range=(1,3)

top_tags=vector(doc,val_max_feature,val_min_df,val_max_df,val_ngram_range)
top_tags
#######################################################################################

city_to_add = pd.Series()
city_to_add['code'] = 'TN'
city_to_add['state'] = 'Tennessee'
city_to_add['category'] = 'state'
city_to_add['ranking_value'] = genre_cnt
city_to_add['City'] = "Nashville"
city_to_add['Top Genre'] = genre
city_to_add['Tags'] = top_tags 

final_df=final_df.append(city_to_add, ignore_index = True)


################################################################################################
#City4
################################################################################################


la_cities = denver*1
df_la = df.loc[df['city'].isin(la_cities)]
df_la.loc[df_la['city'].isin(la_cities), 'city'] = 'Los Angeles'
df_la.head()
df_la['city'].value_counts()

       
df_la =explode(df_la.assign(var1=df_la.genres_list.str.split(',')), 'var1')
df_la_csv = explode(df_la.assign(var2 = df_la.tags_list.str.split(',')),'var2')
df_la[1:5]


df_city=df_la_csv*1
del df_city['genres_list']
del df_city['tags_list']
del df_city['city']
df_city=df_city.rename(columns={'var1':'genre','var2':'tag'})
df_city["genre"] = df_city["genre"].str.replace("[", "")
df_city["genre"] = df_city["genre"].str.replace("]", "")
df_city["genre"] = df_city["genre"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace("[", "")
df_city["tag"] = df_city["tag"].str.replace("]", "")
df_city["tag"] = df_city["tag"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace('"', "")
df_city["genre"]=df_city["genre"].str.lower()
df_city["tag"]=df_city["tag"].str.lower()

df_city[1:5]

#uniques = df_city['genre'].unique()
#print(uniques)


genres_pivot = df_city.pivot_table('tag',index='genre',aggfunc='count')
genres_pivot =  genres_pivot.sort_values('tag', ascending= False)

  
top_genres = genres_pivot[0:5]
genre_cnt=top_genres.ix[0,0]
genre_cnt


top_genres_list =top_genres.index.tolist() # list of straight up movie_id of the worst movies

genre=top_genres_list[0]
genre


#######################################################################################
#CREATE TOP TAGS
tags_top_genre=df_city.query('genre in @top_genres_list')

doc = tags_top_genre['tag'].tolist()

val_max_feature=200
val_min_df=1
val_max_df=0.98
val_ngram_range=(1,3)

top_tags=vector(doc,val_max_feature,val_min_df,val_max_df,val_ngram_range)
top_tags
#######################################################################################

city_to_add = pd.Series()
city_to_add['code'] = 'CO'
city_to_add['state'] = 'Colorado'
city_to_add['category'] = 'state'
city_to_add['ranking_value'] = genre_cnt
city_to_add['City'] = "Denver"
city_to_add['Top Genre'] = genre
city_to_add['Tags'] = top_tags 

final_df=final_df.append(city_to_add, ignore_index = True)


################################################################################################
#City4
################################################################################################


la_cities = la*1
df_la = df.loc[df['city'].isin(la_cities)]
df_la.loc[df_la['city'].isin(la_cities), 'city'] = 'Los Angeles'
df_la.head()
df_la['city'].value_counts()

       
df_la =explode(df_la.assign(var1=df_la.genres_list.str.split(',')), 'var1')
df_la_csv = explode(df_la.assign(var2 = df_la.tags_list.str.split(',')),'var2')
df_la[1:5]


df_city=df_la_csv*1
del df_city['genres_list']
del df_city['tags_list']
del df_city['city']
df_city=df_city.rename(columns={'var1':'genre','var2':'tag'})
df_city["genre"] = df_city["genre"].str.replace("[", "")
df_city["genre"] = df_city["genre"].str.replace("]", "")
df_city["genre"] = df_city["genre"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace("[", "")
df_city["tag"] = df_city["tag"].str.replace("]", "")
df_city["tag"] = df_city["tag"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace('"', "")
df_city["genre"]=df_city["genre"].str.lower()
df_city["tag"]=df_city["tag"].str.lower()

df_city[1:5]

#uniques = df_city['genre'].unique()
#print(uniques)


genres_pivot = df_city.pivot_table('tag',index='genre',aggfunc='count')
genres_pivot =  genres_pivot.sort_values('tag', ascending= False)

  
top_genres = genres_pivot[0:5]
genre_cnt=top_genres.ix[0,0]
genre_cnt


top_genres_list =top_genres.index.tolist() # list of straight up movie_id of the worst movies

genre=top_genres_list[0]
genre


#######################################################################################
#CREATE TOP TAGS
tags_top_genre=df_city.query('genre in @top_genres_list')

doc = tags_top_genre['tag'].tolist()

val_max_feature=200
val_min_df=1
val_max_df=0.98
val_ngram_range=(1,3)

top_tags=vector(doc,val_max_feature,val_min_df,val_max_df,val_ngram_range)
top_tags
#######################################################################################

city_to_add = pd.Series()
city_to_add['code'] = 'CA'
city_to_add['state'] = 'California'
city_to_add['category'] = 'state'
city_to_add['ranking_value'] = genre_cnt
city_to_add['City'] = "Los Angeles"
city_to_add['Top Genre'] = genre
city_to_add['Tags'] = top_tags 

final_df=final_df.append(city_to_add, ignore_index = True)



################################################################################################
#City4
################################################################################################


la_cities = nyc*1
df_la = df.loc[df['city'].isin(la_cities)]
df_la.loc[df_la['city'].isin(la_cities), 'city'] = 'Los Angeles'
df_la.head()
df_la['city'].value_counts()

       
df_la =explode(df_la.assign(var1=df_la.genres_list.str.split(',')), 'var1')
df_la_csv = explode(df_la.assign(var2 = df_la.tags_list.str.split(',')),'var2')
df_la[1:5]


df_city=df_la_csv*1
del df_city['genres_list']
del df_city['tags_list']
del df_city['city']
df_city=df_city.rename(columns={'var1':'genre','var2':'tag'})
df_city["genre"] = df_city["genre"].str.replace("[", "")
df_city["genre"] = df_city["genre"].str.replace("]", "")
df_city["genre"] = df_city["genre"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace("[", "")
df_city["tag"] = df_city["tag"].str.replace("]", "")
df_city["tag"] = df_city["tag"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace('"', "")
df_city["genre"]=df_city["genre"].str.lower()
df_city["tag"]=df_city["tag"].str.lower()

df_city[1:5]

#uniques = df_city['genre'].unique()
#print(uniques)


genres_pivot = df_city.pivot_table('tag',index='genre',aggfunc='count')
genres_pivot =  genres_pivot.sort_values('tag', ascending= False)

  
top_genres = genres_pivot[0:5]
genre_cnt=top_genres.ix[0,0]
genre_cnt


top_genres_list =top_genres.index.tolist() # list of straight up movie_id of the worst movies

genre=top_genres_list[0]
genre


#######################################################################################
#CREATE TOP TAGS
tags_top_genre=df_city.query('genre in @top_genres_list')

doc = tags_top_genre['tag'].tolist()

val_max_feature=200
val_min_df=1
val_max_df=0.98
val_ngram_range=(1,3)

top_tags=vector(doc,val_max_feature,val_min_df,val_max_df,val_ngram_range)
top_tags
#######################################################################################

city_to_add = pd.Series()
city_to_add['code'] = 'NY'
city_to_add['state'] = 'New York'
city_to_add['category'] = 'state'
city_to_add['ranking_value'] = genre_cnt
city_to_add['City'] = "New York City"
city_to_add['Top Genre'] = genre
city_to_add['Tags'] = top_tags 

final_df=final_df.append(city_to_add, ignore_index = True)


################################################################################################
#City4
################################################################################################


la_cities = new_orl*1
df_la = df.loc[df['city'].isin(la_cities)]
df_la.loc[df_la['city'].isin(la_cities), 'city'] = 'Los Angeles'
df_la.head()
df_la['city'].value_counts()

       
df_la =explode(df_la.assign(var1=df_la.genres_list.str.split(',')), 'var1')
df_la_csv = explode(df_la.assign(var2 = df_la.tags_list.str.split(',')),'var2')
df_la[1:5]


df_city=df_la_csv*1
del df_city['genres_list']
del df_city['tags_list']
del df_city['city']
df_city=df_city.rename(columns={'var1':'genre','var2':'tag'})
df_city["genre"] = df_city["genre"].str.replace("[", "")
df_city["genre"] = df_city["genre"].str.replace("]", "")
df_city["genre"] = df_city["genre"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace("[", "")
df_city["tag"] = df_city["tag"].str.replace("]", "")
df_city["tag"] = df_city["tag"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace('"', "")
df_city["genre"]=df_city["genre"].str.lower()
df_city["tag"]=df_city["tag"].str.lower()

df_city[1:5]

#uniques = df_city['genre'].unique()
#print(uniques)


genres_pivot = df_city.pivot_table('tag',index='genre',aggfunc='count')
genres_pivot =  genres_pivot.sort_values('tag', ascending= False)

  
top_genres = genres_pivot[0:5]
genre_cnt=top_genres.ix[0,0]
genre_cnt


top_genres_list =top_genres.index.tolist() # list of straight up movie_id of the worst movies

genre=top_genres_list[0]
genre


#######################################################################################
#CREATE TOP TAGS
tags_top_genre=df_city.query('genre in @top_genres_list')

doc = tags_top_genre['tag'].tolist()

val_max_feature=200
val_min_df=1
val_max_df=0.98
val_ngram_range=(1,3)

top_tags=vector(doc,val_max_feature,val_min_df,val_max_df,val_ngram_range)
top_tags
#######################################################################################

city_to_add = pd.Series()
city_to_add['code'] = 'LA'
city_to_add['state'] = 'Louisiana'
city_to_add['category'] = 'state'
city_to_add['ranking_value'] = genre_cnt
city_to_add['City'] = "New Orleans"
city_to_add['Top Genre'] = genre
city_to_add['Tags'] = top_tags 

final_df=final_df.append(city_to_add, ignore_index = True)



################################################################################################
#City4
################################################################################################


la_cities = pheon*1
df_la = df.loc[df['city'].isin(la_cities)]
df_la.loc[df_la['city'].isin(la_cities), 'city'] = 'Los Angeles'
df_la.head()
df_la['city'].value_counts()

       
df_la =explode(df_la.assign(var1=df_la.genres_list.str.split(',')), 'var1')
df_la_csv = explode(df_la.assign(var2 = df_la.tags_list.str.split(',')),'var2')
df_la[1:5]


df_city=df_la_csv*1
del df_city['genres_list']
del df_city['tags_list']
del df_city['city']
df_city=df_city.rename(columns={'var1':'genre','var2':'tag'})
df_city["genre"] = df_city["genre"].str.replace("[", "")
df_city["genre"] = df_city["genre"].str.replace("]", "")
df_city["genre"] = df_city["genre"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace("[", "")
df_city["tag"] = df_city["tag"].str.replace("]", "")
df_city["tag"] = df_city["tag"].str.replace("'", "")
df_city["tag"] = df_city["tag"].str.replace('"', "")
df_city["genre"]=df_city["genre"].str.lower()
df_city["tag"]=df_city["tag"].str.lower()

df_city[1:5]

#uniques = df_city['genre'].unique()
#print(uniques)


genres_pivot = df_city.pivot_table('tag',index='genre',aggfunc='count')
genres_pivot =  genres_pivot.sort_values('tag', ascending= False)

  
top_genres = genres_pivot[0:5]
genre_cnt=top_genres.ix[0,0]
genre_cnt


top_genres_list =top_genres.index.tolist() # list of straight up movie_id of the worst movies

genre=top_genres_list[0]
genre


#######################################################################################
#CREATE TOP TAGS
tags_top_genre=df_city.query('genre in @top_genres_list')

doc = tags_top_genre['tag'].tolist()

val_max_feature=200
val_min_df=1
val_max_df=0.98
val_ngram_range=(1,3)

top_tags=vector(doc,val_max_feature,val_min_df,val_max_df,val_ngram_range)
top_tags
#######################################################################################

city_to_add = pd.Series()
city_to_add['code'] = 'AZ'
city_to_add['state'] = 'Arizona'
city_to_add['category'] = 'state'
city_to_add['ranking_value'] = genre_cnt
city_to_add['City'] = "Pheonix"
city_to_add['Top Genre'] = genre
city_to_add['Tags'] = top_tags 

final_df=final_df.append(city_to_add, ignore_index = True)





final_df
final_df.to_csv("C:/WPI/DS501/CaseStudy/CaseStudy4/city_summary.csv",index=False)

In [4]:
final_df

,code,state,category,ranking_value,City,Top Genre,Tags
0,IL,Illinois,state,1351,Chicago,house,"[house, techno, tech, remix, deep, music, edm,..."
1,MA,Massachussetts,state,2042,Boston,hip-hop & rap,"[hop, rap, hip, hip hop, soul, hip hop rap, ho..."
2,FL,Florida,state,1364,Miami,trance,"[trance, progressive, uplifting, uplifting tra..."
3,TX,Texas,state,854,Houston,hip-hop & rap,"[rap, deen, remix, pop, bass, hop, soundcloud,..."
4,CO,Colorado,state,1179,Denver,hip-hop & rap,"[trap, rap, hop, hip, hip hop, music, rhymesic..."
5,TN,Tennessee,state,333,Nashville,trap,"[rock, hip, music, hip hop, hop, rap, bass, in..."
6,CO,Colorado,state,1179,Denver,hip-hop & rap,"[trap, rap, hop, hip, hip hop, music, rhymesic..."
7,CA,California,state,1577,Los Angeles,house,"[house, techno, pop, remix, tech, tech house, ..."
8,NY,New York,state,3174,New York City,house,"[house, deep, deep house, music, remix, rap, h..."
9,LA,Louisiana,state,824,New Orleans,hip-hop & rap,"[hip, hip hop, hop, rap, trap, neworleans, atl..."
10,AZ,Arizona,state,801,Pheonix,hip hop,"[sundaysample, area13, fly, eighty4, eighty4 f..."

In [1]:
import sys
import pandas as pd
import json
import pymongo
from pymongo import MongoClient
import numpy as np
from scipy import stats
from collections import Counter

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import load_files
from sklearn.model_selection import train_test_split
from sklearn import metrics

def explode(df, lst_cols, fill_value=''):
    # make sure `lst_cols` is a list
    if lst_cols and not isinstance(lst_cols, list):
        lst_cols = [lst_cols]
    # all columns except `lst_cols`
    idx_cols = df.columns.difference(lst_cols)

    # calculate lengths of lists
    lens = df[lst_cols[0]].str.len()

    if (lens > 0).all():
        # ALL lists in cells aren't empty
        return pd.DataFrame({col:np.repeat(df[col].values, df[lst_cols[0]].str.len()) for col in idx_cols}).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}).loc[:, df.columns]
    else:
        # at least one list in cells is empty
        return pd.DataFrame({col:np.repeat(df[col].values, df[lst_cols[0]].str.len()) for col in idx_cols}).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}).append(df.loc[lens==0, idx_cols]).fillna(fill_value).loc[:, df.columns]   
      
chicago = ['Chicago','Chicago IL and Anaheim Ca','CHICAGO IL, The Almighty WestSide','Chicago Illinois','Chicago, Illinois','Chicago/Albuquerque/Stuttgart','Chicagoland']
miami = ['Fort Lauderdale / Miami Beach area in Florida','miami','MIAMI','Miami Beach','Miami Beach - Florida','Miami Beach / Los Angeles /','Miami,Fl']
houston = ['Houston','Houston, Texas','Houston ','HOUSTON TEXAS','Houston Tx','houston,texas,united states','Houston`','PORT ARTHUR/HOUSTON/LOS ANGELES/DALLAS/HAMPTON VA.']
denver= ['Denver','Denver, CO','Denver','Denver, Colorado']
nashville= ['Nashville','Nashville','NASHVILLE, TENNESSEE','Nashville, TN']
washington_dc=['Washington DC','Washington, D.C.','Washington D.C.','Washington, DC','Washington D. C.','Washington, D.C','washington,d.c']
boston = ['Boston','Boston, Texas','Boston MA ,United states','Boston, Massachusetts - Austin, Texas','Boston, Massachusetts ','BOSTON','Boston, Massachusetts']
los_angeles= ['Los Angeles, CA','Los Angeles','L.A','Los Angeles Area','Los Angeles, California','Los Angeles // Santa Barbara','los angeles','Los Angeles, California','LOS ANGELES','LosAngeles','Los Angeles, CA + Phoenix, AZ']
new_york_city = ['New York','New York City','NYC','new york city','New York & Philadelphia','New York, NY','NEW YORK','New York/ L.A.','NY']
new_orleans = ['New Orleans','New Orleans, Louisiana','The World via New Orleans']
pheonix = ['Phoenix','Los Angeles, CA + Phoenix, AZ','Phoenix, AZ']

cities = [chicago, miami, houston, denver, nashville, washington_dc, boston, los_angeles, new_york_city, new_orleans, pheonix]
df = pd.read_csv('soundcloud.csv')

for x in cities:
    df_city = df.loc[df['city'].isin(x)]
    df_city = explode(df_city.assign(genre = df_city.genres_list.str.split(',')), 'genre')
    genre_count = Counter(df_city['genre'])
    print(stats.chisquare([genre_count.most_common(1)[0][1], len(df_city['genre'])], [1, len(genre_count)]))

Power_divergenceResult(statistic=2525.1713615023473, pvalue=0.0)
Power_divergenceResult(statistic=933.23076923076928, pvalue=5.8613101238425722e-205)
Power_divergenceResult(statistic=1089.0035087719298, pvalue=8.1081209218750301e-239)
Power_divergenceResult(statistic=1153.2553191489362, pvalue=8.7981405150267976e-253)
Power_divergenceResult(statistic=129.06976744186045, pvalue=6.5475966130439743e-30)
Power_divergenceResult(statistic=5057.2545454545452, pvalue=0.0)
Power_divergenceResult(statistic=5905.0974025974028, pvalue=0.0)
Power_divergenceResult(statistic=2248.8026533996681, pvalue=0.0)
Power_divergenceResult(statistic=10839.907180385289, pvalue=0.0)
Power_divergenceResult(statistic=1343.8032786885246, pvalue=3.4219627706381781e-294)
Power_divergenceResult(statistic=314.70297029702971, pvalue=2.0641378713846243e-70)

### Problem 3: The Hacking Part  (20 points)

* Data Collection
* Implement a small Demo/Prototype/experiment result figures for the "product" of your data science company. You could use this demo during the Pitch

In [ ]:
import soundcloud
import pandas as pd

client = soundcloud.Client(client_id = 'rTZYCxGbxmlpK8IYRpP6fWGMZXhlgp2z')
#rTZYCxGbxmlpK8IYRpP6fWGMZXhlgp2z
#2t9loNQH90kzJcsFCODdigxfp325aq4z
#cb4917402e7e92b3908cfaf84f52fe45

users_to_be_queried = list(map(int, open('users_to_be_queried.txt', 'r').read().split(', ')))
soundcloud = pd.read_csv('soundcloud.csv')
users_to_be_queried = list(set(users_to_be_queried) - set(soundcloud['user_id']))

user_ids = []
cities = []
genres_list = []
tags_list = []

for user_id in users_to_be_queried:
    favs = client.get('/users/' + str(user_id) + '/favorites')
    
    if favs:
        genres = []
        tags = []
        
        for fav in favs:
            if fav.genre:
                genres.append(fav.genre)
            if fav.tag_list:
                tags.append(fav.tag_list)
        
        user_ids.append(user_id)
        user = client.get('/users/' + str(user_id))
        cities.append(user.city)

        genres_list.append(genres)
        tags_list.append(tags)

In [ ]:
soundcloud = pd.read_csv('soundcloud.csv')
df = pd.DataFrame({'user_id': user_ids, 'city': cities, 'genres_list': genres_list, 'tags_list': tags_list})
df = pd.concat([soundcloud, df])

df.to_csv('soundcloud.csv', index = False)

users_still_to_be_queried = list(set(users_to_be_queried) - set(df['user_id']))

file = open('users_to_be_queried.txt', 'w')
for user in users_still_to_be_queried[:-1]:
    file.write(str(user) + ", ")
file.write(str(users_still_to_be_queried[-1]))
file.close()

print(df.shape[0])
print(len(users_still_to_be_queried))
print(df.shape[0] + len(users_still_to_be_queried))

In [ ]:
import soundcloud
import pandas as pd

client = soundcloud.Client(client_id = redacted)

us_users = []
next_href_exists = True

users = client.get('/users', q = 'United States', limit = 200, linked_partitioning = 1)
while (len(us_users) <= 10000) and next_href_exists:
    users = client.get(users.next_href, q = 'United States', limit = 200, linked_partitioning = 1)
    for user in users.collection:
        if user.city and ('United States' not in user.city) and (user.country == 'United States'):
            us_users.append(user.id)
    if 'next_href' not in users.keys():
        next_href_exists = False

In [ ]:
previous_total = list(map(int, open('users_total.txt', 'r').read().split(', ')))
users_total = list(set(us_users + previous_total))

file = open('users_total.txt', 'w')
for user in users_total[:-1]:
    file.write(str(user) + ", ")
file.write(str(users_total[-1]))
file.close()

soundcloud = pd.read_csv('soundcloud.csv')
users_to_be_queried = list(set(users_total) - set(soundcloud['user_id']))

file = open('users_to_be_queried.txt', 'w')
for user in users_to_be_queried[:-1]:
    file.write(str(user) + ", ")
file.write(str(users_to_be_queried[-1]))
file.close()

print(soundcloud.shape[0])
print(len(users_to_be_queried))
print(len(users_total))

In [3]:
import plotly
import pandas as pd

df = pd.read_csv('city_summary.csv')

for col in df.columns:
    df[col] = df[col].astype(str)


scl = [[0.0, 'rgb(255,237,221)'],[0.2, 'rgb(255,174,104)'],[0.4, 'rgb(255,162,81)'],\
            [0.6, 'rgb(255,157,71)'],[0.8, 'rgb(255,139,38)'],[1.0, 'rgb(255,119,0)']]



df['text'] = df['state'] + '<br>' + 'Top City: ' +df['City'] + '<br>' + 'Top Genre:  ' + df['Top Genre'] + '<br>' + 'Tags: ' + df['Tags']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['code'],
        z = df['ranking_value'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Ranking Value")
        ) ]

layout = dict(
        title = '2017 Aggregated Soundcloud Listening Data by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
plotly.offline.plot( fig, filename='d3-cloropleth-map.html' )

'file://C:\\WPI\\DS501\\CaseStudy\\CaseStudy4\\d3-cloropleth-map.html'